* {
  /* background-color: brown; */
}

.container {
	display: flex;
	padding-bottom: 1rem;
	align-items: flex-start;
	justify-content: flex-start;
}

.image {
	padding-left: 2rem;
	padding-right: 2rem;
	width: 20rem;
}

.image img {
	width: 100%;
	height: auto;
}

.detail {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.detail>h3 {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.detail>button {
	background-color: #3992ff;
	color: #f4f3f2;
	font-size: .85rem;
}